html {
    color: #fff;
    background-color: #000000;
    font-family: arial;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    height: 95%;
}
body {
    min-height: 95%;
}

#action {
    display: block;
    position: absolute;
    color: #fff;
    background-color: #00ff00;
    font-weight: bold;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #fff;
}
