html {
    color: #fff;
    background-color: black;
    font-size: 12pt;
    font-family: helvetica;
    text-align: left;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    display:grid;
    grid-template-columns: 33% 33% 17% 17%;
    grid-template-rows: 8% 25% 25% 25% 17%;
    width: 100vw;
    height: 100vh;
}   

.chart {
    display: block;
    border: 2px solid #292929;
    border-radius: 10px;
}

.stat {
    display: block;
    border: 2px solid #292929;
    border-radius: 10px;
}

#controls {
    display: grid;
    grid-gap: 5px;
    /* Space between items */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    margin-right: 12px;
    margin-bottom: 20px;
}

#demographics {
    padding: 0px 0px 0px 20px;
}

#status {
    padding: 20px 0px 0px 20px;
}

#demographics {
    grid-column: 1;
    grid-row: 1;
}

#dateAndTime {
    grid-column: 2/3;
    grid-row: 1;
    text-align: center;
}

#pressure {
    grid-column: 1/3;
    grid-row: 2;
}

#temperature {
    grid-column: 1/3;
    grid-row: 3;
}

#humidity {
    grid-column: 1/3;
    grid-row: 4;
}

#status {
    grid-column: 3;
    row: 1;
}

#alarms {
    grid-column: 1;
    grid-row: 5;
}

#controls {
    grid-column: 2/5;
    grid-row: 5;
}

#ppeak {
    grid-column: 3;
    grid-row: 2;
    position: relative;
}

#peep {
    grid-column: 4;
    grid-row: 2;
    position: relative;
    margin-right: 12px;
}

#hstats {
    grid-column: 4;
    grid-row: 3;
    position: relative;
    margin-right: 12px;
}

#ieRatio {
    grid-column: 3;
    grid-row: 3;
    position: relative;

}

#vt {
    grid-column: 3;
    grid-row: 4;
    position: relative;
}

#peep2 {
    grid-column: 4;
    grid-row: 4;
    position: relative;
    margin-right: 12px;
}

.line {
    fill: none;
    stroke-width: 1;
}

#temperature .line {
    stroke: #2ECC91;
}

#humidity .line {
    stroke: #00BFFF;
}

#pressure .line {
    stroke: #F5D76E;
}

#buttons {
    display: none;
}

.control {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(180deg, #2E2E2E 0%, #1B1B1B 100%);
}

.control .title {
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #979797;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    margin-top: 5;
}

.control .value {
font-family: Red Hat Text;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}

#modeValue {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-top: 10;    
}

.focused {
    background-color: #444;
}

.cell {
    margin: 2px 2px 2px 2px;
}

.top {
    float: top;
    height: 49%;
}

.bottom {
    float: bottom;
    height: 49%;
}

.sensor-stat-label {
    height: 12px;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #f1f1f1;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
}

.stat-value {
    height: 52px;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    bottom: 30px;
    right: 0px;
    margin-right: 12px;
    position: absolute;
}

#ppeak .stat-value, #ppeak .stat-value-unit, #peep .stat-value, #peep .stat-value-unit{
    color: #f5d76e;
}

#ieRatio .stat-value {
    color: #2ecc91;
}

#hstats .value {
    margin-right: 10px;
    font-family: "Red Hat Text", serif;
    color: #2ecc91;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

#hstats .unit {
    margin-right: 10px;
    float: right;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #8effce;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

#vt .stat-value, #vt .stat-value-unit, #peep2 .stat-value, #peep2 .stat-value-unit {
    color: #00bfff;
}

.stat-value-unit {
    width: 30px;
    height: 12px;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: right;
    float: right;
    bottom: 14px;
    right: 12px;
    position: absolute;
}

#patientInfo {
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    position: relative;
    top: 0;
}

.dtText {
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    position: relative;
    top: 0;
}

#bar {
    width: 1px;
    height: 12px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 1px 1px 1px 1px;
    opacity: 0.20000000298023224;
}

.chart.cell {
    margin-right: 12px;
}

@media (min-height: 500px) {
    #buttons {
	display: block;
	position: fixed;
	z-index: 100;
	bottom: 0;
	height: 50px;
	width: 30%;
	background-color: #aaaaaa;
    }
    html {
	font-size: 24pt;
    }
    .cell {
	margin: 5px 5px 5px 5px;
    }
}
