html {
    color: #fff;
    background-color: black;
    font-size: 12pt;
    font-family: helvetica;
    text-align: left;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    display:grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 11% 25% 12.5% 12.5% 25% 14%;
    width: 100vw;
    height: 100vh;
}   

.chart {
    display: block;
    border: 2px solid #292929;
    border-radius: 10px;
}

.stat {
    display: block;
    border: 2px solid #292929;
    border-radius: 10px;
}

#controls {
    grid-column: 1/7;
    grid-row: 6;
    display: grid;
    grid-gap: 4px;

    grid-template-columns: repeat(2, 70px) repeat(6, 1fr);
    /* overflow: hidden; */
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}

#demographics {
    padding: 0px 0px 0px 20px;
}

#status {
    padding: 20px 0px 0px 20px;
}

#demographics {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
}

#dateAndTime {
    grid-column: 3/5;
    grid-row: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dateAndTime.alarm {
    grid-column: 5;
    grid-row: 1;
    text-align: left;
    justify-content: left;
    margin-left: 8px;
}

#alarm {
    grid-row: 1;
    grid-column: 2/5;
    background: #FF0000;
    border-radius: 10px;
    /* display: inline-flex; */
    display: none;
    align-items: center;
    margin-right: 10px;
}

#alarm h2 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

#alarm img {
    margin-left: 10px;
    margin-right: 8px;
}

.highEmergencyStat {
    background: #FF0000 !important;
}

.mediumEmergencyStat {
    background:#DA8638 !important;
}

.lowEmergencyStat {
    background:#DAB842 !important;
}

#pressure {
    grid-column: 1/5;
    grid-row: 2;
}

#temperature {
    grid-column: 1/5;
    grid-row: 3/5;
}

#humidity {
    grid-column: 1/5;
    grid-row: 5;
}

#status {
    grid-column: 5;
    grid-row: 1;
}

.alarmSettings {
    display: flex;
    align-items: center;
    justify-content: center;
}

#alarmSetupText {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FAFAFA;
}

#ppeak {
    grid-column: 5;
    grid-row: 2;
    position: relative;
}

#peep {
    grid-column: 6;
    grid-row: 2/3;
    position: relative;
    margin-right: 10px;
}

#hstats {
    grid-column: 6;
    /* grid-row: 3/5; */
    grid-row: 3;
    position: relative;
    margin-right: 10px;
}

#fio2 {
    grid-column: 6;
    grid-row: 3;
    position: relative;
    margin-right: 10px;
}

#rr {
    grid-column: 6;
    grid-row: 4;
    position: relative;
    margin-right: 10px;
}

#ieRatio {
    grid-column: 5;
    grid-row: 3/5;
    position: relative;

}

#vt {
    grid-column: 5;
    grid-row: 5;
    position: relative;
}

#vtbw {
    grid-column: 6;
    grid-row: 5;
    position: relative;
    margin-right: 10px;
}

.line {
    fill: none;
    stroke-width: 1;
}

#temperature .line {
    stroke: #2ECC91;
}

#humidity .line {
    stroke: #00BFFF;
}

#pressure .line {
    stroke: #F5D76E;
}

#buttons {
    display: none;
}

.control {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(180deg, #2E2E2E 0%, #1B1B1B 100%);
    position: relative;
}

.control .title {
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #979797;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    margin-top: 10;
}

.control .value {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 4px;  
}

.highlighted {
    border: 2px solid white;
}

.focused {
    background: white;
}

.focused .value {
    color: #333333 !important;
}

.cell {
    margin: 2px 2px 8px 8px;
}

.sensor-stat-label {
    height: 12px;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #f1f1f1;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
}

.stat-value {
    height: 52px;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    bottom: 30px;
    right: 0px;
    margin-right: 10px;
    position: absolute;
}

#ppeak .stat-value, #ppeak .stat-value-unit, #peep .stat-value, #peep .stat-value-unit{
    color: #f5d76e;
}

#ieRatio .stat-value {
    color: #2ecc91;
}

#fio2 .value, #rr .value {
    margin-right: 10px;
    font-family: "Red Hat Text", serif;
    color: #2ecc91;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

#rr .value span {
    font-size: 12px;
}

#fio2 .unit, #rr .unit {
    margin-right: 10px;
    float: right;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #8effce;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

#vt .stat-value, #vt .stat-value-unit, #vtbw .stat-value, #vtbw .stat-value-unit {
    color: #00bfff;
}

.stat-value-unit {
    width: 30px;
    height: 12px;
    overflow: visible;
    font-family: "Red Hat Text", serif;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: right;
    float: right;
    bottom: 14px;
    right: 12px;
    position: absolute;
}

#patientInfo {
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    position: relative;
    margin-left: 8px;
}

.dtText {
    overflow: visible;
    font-family: "Red Hat Text", serif;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin-left: 8px;
}

#bar {
    width: 1px;
    height: 12px;
    border-radius: 1px 1px 1px 1px;
    opacity: 0.20000000298023224;
}

.chart.cell {
    margin-left: 10px;
}

.whiteText {
    color: #ffffff !important;
}

#silenceAlarm {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid #525252;
    background: transparent;
}

#silenceAlarm .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4px;
}

#silenceAlarmText {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

#o2Boost {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid #525252;
    background: transparent;
}

#o2Boost .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#o2Boost .o2title {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 50px;
}

#o2Boost .content .value {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.modeContainer {
    display: flex;
    flex-direction: column;
}

.elipseContainer {
    display: block;
    position: absolute;
    left: 12px;
    top: 32px;
}
.elipseContainer img {
    width: 4px;
    height: 4px;
    display: block;
    margin-top: 2px;
}

.confirmCancel {
    display: none;
    flex-direction: column;
    padding: 0px;

    position: absolute;
    width: 100%;
    /* height: 80px; */
    top: -86px;

    background: linear-gradient(180deg, #2E2E2E 0%, #1B1B1B 100%);
    border-radius: 10px;
    z-index: 10;

    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.cancel {
    display: flex;
    flex-direction: row;
    padding: 12px 16.5px;

    position: static;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
}

.confirm {
    display: flex;
    flex-direction: row;
    padding: 12px 16.5px;

    position: static;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 40px;
    border-radius: 10px;
}

.ccActive {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.confirmCancel img {
    flex: none;
    order: 1;
    align-self: center;
    margin: 0px 0px;
    position: absolute;
    right: 16;
}

.ccSubmit {
    color: #3B3B3B;
    background-color: #FAFAFA;
}

.ccConfirmBorder {
    border: 2px solid #2ECC91;
    border-radius: 9px;
}

.ccCancelBorder {
    border: 2px solid #FF0000;
    border-radius: 9px;
}

.ccProgress {
    display: none;
    /* display: block; */
    width: 100%;
    background-color: #BFBFBF;
    position: absolute;
    bottom: 9;
}

.ccBar {
    width: 0%;
    height: 4px;
    background-color: #3460D0;
}

/* @media (min-height: 500px) {
    #buttons {
	display: block;
	position: fixed;
	z-index: 100;
	bottom: 0;
	height: 50px;
	width: 20%;
	background-color: #aaaaaa;
    }
    html {
	font-size: 24pt;
    }
    .cell {
	margin: 5px 5px 5px 5px;
    }
} */
