<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Red+Hat+Text' rel='stylesheet' type='text/css'>
    
    <!-- external modules -->
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <!--<script type="text/javascript" src="/static/js/velocity.min.js"></script>-->
    <!--<script type="text/javascript" src="/static/js/Chart.bundle.js"></script>-->
    <!--<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="/static/js/basics.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    
  </head>
  <body>
    <div class="body">
      
      <div id="demographics">
        <img src="./../static/img/person.svg" alt="person">
        <span id="patientInfo">BW 60 kg</span>
      </div>
      <div id="alarm">
        <img src="./../static/img/alarm.svg" alt="alarm">
        <h2>High Pressure</h2>
      </div>
      <div id="dateAndTime">
        <span class="dtText" id="time"></span>
        <span class="dtText" id="bar">|</span>
        <span class="dtText" id="date"></span>
      </div>
      
      <div id="status">
	<span id="time"></span>
      </div>

      <div class="chart cell" id="flow"> </div>
      <div class="chart cell" id="pressure"> </div>
      <div class="chart cell" id="volume"> </div>

      <div class="stat cell" id="ppeak"> 
        <h3 class="sensor-stat-label">Ppeak</h3>
        <div>
          <h1 class="stat-value">21</h1>
          <h1 class="stat-value-unit">cmH<sub>2</sub>O</h1>
        </div>
      </div>

      <div class="stat cell" id="peep">
        <h3 class="sensor-stat-label">PEEP</h3>
        <div>
          <h1 class="stat-value">9.5</h1>
          <h1 class="stat-value-unit">cmH<sub>2</sub>O</h1>
        </div>
      </div>

      <div class="stat cell" id="vt"> 
        <h3 class="sensor-stat-label">VT</h3>
        <div>
          <h1 class="stat-value">334</h1>
          <h1 class="stat-value-unit">ml</h1>
        </div>
      </div>

      <div class="stat cell" id="vtbw">
        <h3 class="sensor-stat-label">VT/BW</h3>
        <div>
          <h1 class="stat-value">5.5</h1>
          <h1 class="stat-value-unit">ml/kg</h1>
        </div>
      </div>


      <div class="stat cell" id="ieRatio"> 
        <h3 class="sensor-stat-label">I:E Ratio</h3>
        <h1 class="stat-value">1:2</h1>
      </div>

      <div class="stat cell" id="fio2">
          <h3 class="sensor-stat-label">FiO<sub>2</sub></h3>
          <h3 class="value">50</h3>
          <h3 class="unit">%</h3>
      </div>

      <div class="stat cell" id="rr">
        <h3 class="sensor-stat-label">RR</h3>
        <h3 class="value">15<br><span>bpm</span></h3>
      </div>

      <div id="controls" class="cell">
        <div class="control" id="o2Boost">
          <div class="content">
            <h3 class="value">0</h3>
            <h3 class="o2title">O<sub>2</sub> Boost</h3>
          </div>
        </div>
        <div class="control" id="silenceAlarm">
          <div class="content">
            <img src="./../static/img/silent.svg" alt="silent">
            <h3 id="silenceAlarmText">Silent</h3>
          </div>
        </div>
        <div class="control alarmSettings" id="menu_0">
          <h3 class="value" id="alarmSetupText">Setup <br>Alarms</h3>
        </div>
        <div class="control modeContainer" id="menu_1">
          <div class="elipseContainer">
            <img class="activeElipse" src="./../static/img/active_elipse.svg" id="elipse0">
            <img src="./../static/img/elipse.svg" id="elipse1">
            <img src="./../static/img/elipse.svg" id="elipse2">
          </div>
          <h3 class="title">MODE</h3>
          <h3 class="value" id="modeValue">VCV</h3>
        </div>
        <div class="control" id="menu_2">
          <div class="confirmCancel">
            <div class="cancel">
              Cancel
              <img src="./../static/img/cancel.svg" alt="cancel">
            </div>
            <div class="confirm ccActive">
              Confirm
              <img src="./../static/img/confirm.svg" alt="confirm">
            </div>
          </div>
          <h3 class="title" id="menu2Title">PEEP</h3>
          <h3 class="value" id="menu2Value">0</h3>
          <div class="ccProgress">
            <div class="ccBar"></div>
          </div>
        </div>
        <div class="control" id="menu_3">
          <div class="confirmCancel">
            <div class="cancel">
              Cancel
              <img src="./../static/img/cancel.svg" alt="cancel">
            </div>
            <div class="confirm ccActive">
              Confirm
              <img src="./../static/img/confirm.svg" alt="confirm">
            </div>
          </div>
          <h3 class="title" id="menu3Title">FiO<sub>2</sub></h3>
          <h3 class="value" id="menu3Value">0</h3>
          <div class="ccProgress">
            <div class="ccBar"></div>
          </div>
        </div>
        <div class="control" id="menu_4">
          <div class="confirmCancel">
            <div class="cancel">
              Cancel
              <img src="./../static/img/cancel.svg" alt="cancel">
            </div>
            <div class="confirm ccActive">
              Confirm
              <img src="./../static/img/confirm.svg" alt="confirm">
            </div>
          </div>
          <h3 class="title" id="menu4Title">RR</h3>
          <h3 class="value" id="menu4Value">0</h3>
          <div class="ccProgress">
            <div class="ccBar"></div>
          </div>
        </div>
        <div class="control" id="menu_5">
          <div class="confirmCancel">
            <div class="cancel">
              Cancel
              <img src="./../static/img/cancel.svg" alt="cancel">
            </div>
            <div class="confirm ccActive">
              Confirm
              <img src="./../static/img/confirm.svg" alt="confirm">
            </div>
          </div>
          <h3 class="title" id="menu5Title">VT</h3>
          <h3 class="value" id="menu5Value">0</h3>
          <div class="ccProgress">
            <div class="ccBar"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="buttons">
      <button id="refresh">refesh</button>
      <input type="number" placeholder="seconds" id="seconds"/>
      <input type="number" placeholder="duty cycle" id="duty"/>
      <button id="breath">breath</button>
    </div>

  </body>
</html>
