<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <!-- external modules -->
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <!--<script type="text/javascript" src="/static/js/velocity.min.js"></script>-->
    <!--<script type="text/javascript" src="/static/js/Chart.bundle.js"></script>-->
    <!--<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="/static/js/basics.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    
  </head>
  <body>
    <div class="body">
      
      <div id="demographics">
	      <span class="icon" id="gender">+</span>
        <span id="patientInfo">BW 60 kg</span>
      </div>
      <div id="dateAndTime">
        <span class="dtText" id="time"></span>
        <span class="dtText" id="bar">|</span>
        <span class="dtText" id="date"></span>
      </div>
      
      <div id="status">
	<span id="time"></span>
      </div>
      
      <div class="chart cell" id="pressure"> </div>
      <div class="chart cell" id="temperature"> </div>
      <div class="chart cell" id="humidity"> </div>

      <div class="stat cell" id="ppeak"> 
        <h3 class="sensor-stat-label">Ppeak</h3>
        <div>
          <h1 class="stat-value">21</h1>
          <h1 class="stat-value-unit">cmH<sub>2</sub>O</h1>
        </div>
      </div>

      <div class="stat cell" id="peep">
        <h3 class="sensor-stat-label">PEEP</h3>
        <div>
          <h1 class="stat-value">9.5</h1>
          <h1 class="stat-value-unit">cmH<sub>2</sub>O</h1>
        </div>
      </div>

      <div class="stat cell" id="vt"> 
        <h3 class="sensor-stat-label">VT</h3>
        <div>
          <h1 class="stat-value">334</h1>
          <h1 class="stat-value-unit">ml</h1>
        </div>
      </div>

      <div class="stat cell" id="peep2">
        <h3 class="sensor-stat-label">PEEP</h3>
        <div>
          <h1 class="stat-value">5.5</h1>
          <h1 class="stat-value-unit">ml/kg</h1>
        </div>
      </div>


      <div class="stat cell" id="ieRatio"> 
        <h3 class="sensor-stat-label">I:E Ratio</h3>
        <h1 class="stat-value">1:2</h1>
      </div>

      <div class="stat cell" id="hstats">
        <div class="top">
          <h3 class="sensor-stat-label">FiO<sub>2</sub></h3>
          <h3 class="value">50</h3>
          <h3 class="unit">%</h3>
        </div>
        <div class="spacer"></div>
        <div class="bottom">
          <h3 class="sensor-stat-label">RR</h3>
          <h3 class="value">15</h3>
        </div>
      </div>

      <div id="alarms">
      </div>
      
      <div id="controls" class="cell">
        <div class="control" id="menu_0">
          <h3 class="title">MODE</h3>
          <h3 id="modeValue" class="value">Volume Control</h3>
        </div>
        <div class="control" id="menu_1">
          <h3 class="title">PEEP</h3>
          <h3 class="value" id="peepValue"></h3>
        </div>
        <div class="control" id="menu_2">
          <h3 class="title">FiO<sub>2</sub></h3>
          <h3 class="value" id="fio2Value"></h3>
        </div>
        <div class="control" id="menu_3">
          <h3 class="title">RR</h3>
          <h3 class="value" id="rrValue"></h3>
        </div>
        <div class="control" id="menu_4">
          <h3 class="title">VT</h3>
          <h3 class="value" id="vtValue"></h3>
        </div>
      </div>
      
    </div>

    <div id="buttons">
      <button id="refresh">refesh</button>
      <input type="number" placeholder="seconds" id="seconds"/>
      <input type="number" placeholder="duty cycle" id="duty"/>
      <button id="breath">breath</button>
    </div>

  </body>
</html>
